.dialog, .comment-image, .textcol {
  box-sizing: border-box; }

.dialog {
  background-color: tomato;
  padding: 10px;
  text-align: center;
  color: white;
  z-index: 99999; }

@media (min-width: 772px) {
  .dialog {
    width: 50%;
    height: 10%;
    border: 1px black;
    position: fixed;
    top: 20%;
    left: 15%; } }

input[name="dialog-toggle"]:checked + .dialog {
  display: none; }

input[name="dialog-toggle"] {
  visibility: hidden; }

.menu {
  display: none;
  list-style: none; }

.hamburger {
  display: inline-block;
  cursor: pointer; }

.bar {
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
  margin-bottom: 5px; }

input[name="hamburger"] {
  visibility: hidden; }

input[name="hamburger"]:checked + .menu {
  display: block; }

.menu a:hover {
  color: tomato; }

@media screen and (min-width: 772px) {
  .hamburger {
    display: none; }
  input[name="hamburger"] {
    display: none; }
  .menu {
    display: block; }
  .menu li {
    display: inline;
    padding: 0 5px 0 5px; } }

@media screen and (min-width: 772px) {
  .container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden; }
  .col-4 {
    box-sizing: border-box;
    padding-left: 30px;
    width: 30%;
    float: left; }
  .col-8 {
    width: 70%;
    float: left; } }

.comment {
  margin-top: 10px;
  padding: 0px 5px; }

.comment-image {
  padding-right: 10px;
  width: 20%;
  float: left; }

.comment-info {
  width: 80%;
  float: left; }

.imgcol {
  width: 20%;
  float: left; }

.textcol {
  padding-left: 10px;
  width: 80%;
  float: left; }

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif; }

img, video {
  width: 100%; }

h6 {
  margin: 0px 0px 5px 0px; }

input[type="text"], textarea {
  display: block;
  width: 100%;
  margin: 5px 0px; }

.btn {
  float: right;
  margin: 5px; }
