$brand-primarycolour: tomato;
$font: 'Helvetica Neue', helvetica, arial, sans-serif;
$margin: 5px;
$dialog-background: $brand-primarycolour;
$dialog-text: white;
$dialog-bordercolour: black;
$bar-background: black;
$min-desktopwidth: 772px;
