body {
  font-family: helvetica, arial, "comic sans", sans-serif;
}
img, video{
  width:100%
}
h6 {
  margin: 0px 0px 5px 0px;
}
input[type="text"], textarea {
  display: block;
  width: 100%;
  margin: 5px 0px;
}

.menu {
  display: none;
  list-style: none;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  cursor:
}

.bar {
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
}

input[name="hamburger"] {
  visibility: hidden;
}

input[name="hamburger"]:checked + .menu {
  display: block;
}

.menu a:hover {
  color: tomato
}

@media screen and (min-width: 772px) {
  .container {
    max-width: 1200px;
    overflow: hidden;
  }
  .hamburger {
    display: none;
  }
  input[name="hamburger"] {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu li {
    display: inline;
    padding: 0 5px 0 5px;
  }
  .row {
    display: flex
  }
  .col-4 {
      width: 20%;
      margin-left: 30px;
  }
  .col-8 {
    width: 80%;
  }
}


.comment {
  display: flex;
  margin-top: 10px;
  padding: 0px 5px;
}
.comment-image {
  width: 20%;
  margin-right: 10px;
}
.comment-info {
  width: 80%;
}


.related-video {
  display: flex
}
.imgcol {
  width: 20%;
}
.textcol {
  margin-left: 10px;
  width: 80%;
}
.btn {
  float: right;
  margin: 5px
}
